.action_button_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  button {
    background-color: transparent;
    border: none;
  }
  &:hover {
    background-color: transparent;
  }

  .dropdown_header {
    padding: 0.35rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .dropdownItem {
    padding: 0.35rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}