.modal_wrapper {
  display: block;
  .modal_itemheader {
    align-items: center;
    padding: 0.5rem 2rem;
    button {
      margin: 0;
      padding: 0.5rem;
    }
    h5 {
      font-size: 16px;
    }
  }
  .save_btn {
    background-color: #0369CD;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
  }
  .cancel_btn {
    background-color: #F2F2F2;
    color: #0C0E10;
    border: none;
    font-size: 13px;
    font-weight: 500;
  }
  .search_setting {
    padding: 0 2rem;
    .search_wrapper {
      position: relative;
      padding: 20px 0;
      input {
        border: 1px solid #DAE4F1;
        border-radius: 8px;
        padding-right:50px; 
      }
      .search_btn {
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }
  }

  .setting_icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      padding: 0 3px;
      &:focus {
        outline: none;
      }
    }
  }

  .first_field_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input_badge_wrapper {
    position: relative;
    .badgeItem {
      position: absolute;
      left: 5px;
      top:50%;
      transform: translateY(-50%);
      padding: 7px;
      background-color: #F4F4F5;
      font-size: 12px;
      color:#B4B4B9;
      font-weight: 400;
    }
    .inputItem_title {
      width: 300px;
      border: 1px solid #E5E5e5;
      font-size: 14px;
      font-weight: 400;
      color: #999;
    }
  }
  .drag_icon {
    margin-left: 20px;
    cursor: grab;            
  user-select: none;
  }

  .t_px_input {
    position: relative;
    span {
      position: absolute; 
      right: 10px; 
      top: 50%; 
      transform: translateY(-50%); 
      color: #999; 
      font-size: 12px;
      pointer-events: none;
    }
  }

  .column_label_width {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .column_input_width {
    padding-right: 30px;
    width: 100px;
    border: 1px solid #E5E5E7;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    color: #888;
  }

  .dargableItem_wrapper {
    background-color: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0px 1px 3px 0px #1018281A,
            0px 1px 2px -1px #1018281A;

    &:hover {
      box-shadow: 0px 4px 6px -1px #1018281A, 0px 2px 4px -2px #1018281A;
    }
  }

  .border_bottom_{
    border-bottom: 1px solid #ECECEC;
    padding: 2rem !important;
  }
}
