.action_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  button {
    background-color: transparent;
    border: none;
  }
  &:hover {
    background-color: transparent;
  }
  .action_dropdown_wrapper {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown_header {
    padding: 0.35rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 8px 8px 0 0;
  }

  .dropdownItem {
    padding: 0.35rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    i {
      font-size: 14px;
      color: #555;
    }
  }

  .firstBtn {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #555;
    justify-content: center;
    &:first-child {
      margin-top: 0.5rem;
    }
    i {
      font-size: 14px;
      color: #555;
      margin-right: 0;
    }
  }

  .dropdown_divider_line:last-child {
    display: none;
  }
}