$color-primary: #007bff;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;
$color-muted: #6c757d;
$brand-blue: #0d6efd;
$brand-indigo: #6610f2;
$white: #FFFFFF;
$black-3: #333;

// table colors
$table-header: #EEEEEF;
$table-border: #DEDEDE;
$table-text: #272937;

//pagination colors

$paginaation-backgroundcolor:#F7F7FB;
$pagination-border: #E5E5E7;
$blue-text: #1991FF;
$pagination-background-color-li: #dfefff;
$pagination-background-color-ul: #f7f7fb;
