.custom_checkbox_wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  .form_check_label {
    margin-left: 0.5rem;
    user-select: none;
  }

  input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    position: relative;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:checked::before {
      content: '';
      position: absolute;
      left: 3px;
      top: 1px;
    }

    &:indeterminate::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 2px;
      background-color: #fff;
      
      transform: translate(-50%, -50%);
    }
  }
  .disabled {
    opacity: 0.6;
  }
}
