@use '../../styles/variables' as *;

body {
    padding: 50px;
    direction: rtl;
}

// .table_wrapper {

//   width: 100%;
//   max-width: 1200px;          
//   margin: 50px auto;
//   border: 2px solid #333;
//   border-radius: 8px;
//   overflow-x: auto;           
//   overflow-y: auto;           
//   max-height: 500px;          
//   background: white;
//   z-index: 2;
// }




.tableContainer {
  width: 100%;
  border: 1px solid $table-border;
  padding: 0;
  border-radius: 10px;
  border-spacing: 0;
  overflow-x: scroll;
  border-collapse: separate; 
}

.tableContainer .th_container{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: $table-header;
  padding: 12px 8px;
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  border-top: none;
  &:last-child {
    border-top-left-radius: 10px; 
  }
  &:first-child {
    border-top-right-radius: 10px;
  }
}

.theader_container {
  border-radius: 10px 10px 0 0;
}

.tr_container {
  border-radius: 10px 0 0 0;
}

.tableContainer .td_container{
  font-size: 14px;
  text-align: center;
  padding: 12px 8px;
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  border-top: none;
}

.sidebar_right {
  position: fixed;        
  top: 0;
  right: 0;  
  width: 300px;       
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
}

// .tr_container .td_container:first-child, .theader_container  .th_container:first-child{
//   position: sticky; 
//   top: 0;
//   right: 0;  
//   background-color: white;
// }
