@use '../../styles/variables' as *;

.table_outer_wrapper {
  border: 1px solid $table-border;
  border-radius: 10px;
  overflow: hidden;   
  background-color: white;
}
.table_inner_wrapper {
  width: 100%;
  min-width: 800px;
  overflow-x: auto;
  border-radius: 10px;
}

.table_inner_wrapper::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  border-radius: 5px;
}
.table_inner_wrapper::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
.table_inner_wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.table_inner_wrapper::-webkit-scrollbar-thumb:hover {
  background: #666;
  cursor: grab;
  
}
.tableContainer {
  width: 100%;
  padding: 0;
  border-collapse: separate; 
  table-layout:fixed;
  min-width: 800px;
  border: none !important;
  border-spacing: 0;
  th {
    border-bottom: 2px solid $table-border !important;
  }
  td {
    // border: 1px solid $table-border !important;
  }
}

.tableContainer .th_container{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: $table-header;
  padding: 12px 8px;
  vertical-align: middle;
  border:none;
  border-right: 1px solid $table-border;
  &:last-child {
    border-top-left-radius: 10px;
  }
  &:first-child {
    position: sticky;
    border-top-right-radius: 10px;
    right: 0;
    border-right: none;
    background-color: $table-header !important;
    // box-shadow: -5px 0 12px -3px rgba(0,0,0,0.3) !important;
    z-index: 3;
  }
  &:nth-child(2) {
    position: sticky;
    right: 50px;
    // border-right: 1px solid $table-border;
    // border-left: 1px solid $table-border;
    background-color: $table-header !important;
    z-index: 3;
  }
}

.theader_container {
  border-radius: 10px 10px 0 0;
  border: none;
}

.tr_container {
  border: none;
  &:last-child {
    .td_container {
      &:last-child{
        border-radius: 0 0 0 10px;
      }
      &:first-child{
        border-radius: 0 0 10px 0;
      }
    }
  }
}

.tableContainer .td_container{
  font-size: 14px;
  text-align: center;
  padding: 12px 8px;
  border-left: 1px solid $table-border !important;
  border-bottom: 1px solid $table-border !important;
  border-right: none !important;
  border-top: none;
  vertical-align: middle;
  &:first-child{
    position: sticky;
    right: 0;
    background-color: white !important;
    // box-shadow: -5px 0 12px -3px rgba(0,0,0,0.3);
    z-index: 3;
  }
  &:nth-child(2) {
    position: sticky;
    right: 50px;
    background-color: white !important;
    box-shadow: -5px 0px 9px rgba(0,0,0,0.1);
    // border-left: 1px solid $table-border !important;
    z-index: 3;
  }
}

.sidebar_right {
  position: fixed;        
  top: 0;
  right: 0;  
  width: 300px;       
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
}

//  button and modal setting style
.modal_Setting {
  .btn_setting, .btn_xcel {
    background-color: transparent;
    border: none;
    padding: 0;
    float: left;
    &:hover {
      color: #fff;
      background-color: transparent;
      border-color: transparent;
      border: none;
    }
    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
    
    &:active {
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
    &:focus-visible {
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
  }
  .btn_xcel {
    margin-left: 5px;
  }
  .btn_xcel:not(:disabled):not(.disabled):active {
    box-shadow: none!important;
    background-color: transparent!important;
    border: none!important;
    border-color: transparent!important;
    outline: none!important;
  }
  .btn_xcel.disabled, .btn_xcel:disabled {
    box-shadow: none!important;
    background-color: transparent!important;
    border: none!important;
    border-color: transparent!important;
    outline: none!important;
  }

  .progressBar {
    width: 200px;
    height: 29px;
    border-radius: 5px;
    float: left;
    margin-left : 5px;
  }

  .cancel_btn {
    float: left;
    margin-left: 5px;
    border-radius: 5px;
  }
  .download_Excel_wrapper {
    
  }

}
