@use '../../styles/variables' as *;


.tableContainer {
  max-width: 100%;
  // border: 1px solid $table-border;
  padding: 0;
  border-radius: 10px;
  border-spacing: 0;
  overflow-x: scroll;
  border-collapse: separate; 
}

.tableContainer .th_container{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: $table-header;
  padding: 12px 8px;
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  border-top: 1px solid $table-border;
  // border-top: none;
  &:last-child {
    border-top-left-radius: 10px; 
    border-left: 1px solid $table-border;
  }
  &:first-child {
    border-top-right-radius: 10px;
  }
}

.theader_container {
  border-radius: 10px 10px 0 0;
}

.tr_container {
  border-radius: 10px 0 0 0;
  &:last-child {
    .td_container {
      &:last-child{
        border-radius: 0 0 0 10px;
      }
      &:first-child{
        border-radius: 0 0 10px 0;
      }
    }
  }
}

.tableContainer .td_container{
  font-size: 14px;
  text-align: center;
  padding: 12px 8px;
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  border-top: none;

  &:last-child {
    border-left: 1px solid $table-border;
  }
}

.sidebar_right {
  position: fixed;        
  top: 0;
  right: 0;  
  width: 300px;       
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
}

//  button and modal setting style

.modal_Setting {
  .btn_setting {
    background-color: transparent;
    border: none;
    &:hover {
      color: #fff;
      background-color: transparent;
      border-color: transparent;
      border: none;
    }
    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
    
    &:active {
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
    &:focus-visible {
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border: none;
      border-color: transparent;
    }
  }

}
